absl-py==1.2.0
asttokens==2.0.8
astunparse==1.6.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.0.12
colorama==0.4.5
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
executing==1.0.0
flatbuffers==1.12
flask
fonttools==4.29.1
gast==0.4.0
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
idna==3.3
importlib-metadata==4.12.0
ipykernel==6.15.2
ipython==8.4.0
jedi==0.18.1
jupyter_client==7.3.5
jupyter_core==4.11.1
jupyterthemes==0.20.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lesscpy==0.15.0
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.5
numpy==1.23.2
oauthlib==3.2.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pafy==0.5.5
pandas==1.4.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.0.1
pip==22.1.2
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2021.3
pywin32==303
PyYAML==6.0
pyzmq==23.2.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-multilearn==0.2.0
scipy==1.8.0
seaborn==0.11.2
setuptools==61.2.0
six==1.16.0
stack-data==0.5.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
thop==0.1.1.post2207130030
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==2.2.2
wget==3.2
wheel==0.37.1
wincertstore==0.2
youtube-dl==2020.12.2
zipp==3.8.1
